<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.3.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_dee714731193422883c0e3fd10aa39bf {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_dee714731193422883c0e3fd10aa39bf" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_dee714731193422883c0e3fd10aa39bf = L.map(
        'map_dee714731193422883c0e3fd10aa39bf', {
        center: [25.774111, -80.193565],
        zoom: 8,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_0f299513155341bdb377b6b3dfacef0a = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_dee714731193422883c0e3fd10aa39bf);
    
            var feature_group_e886171069204074a0732d6664920a49 = L.featureGroup(
                ).addTo(map_dee714731193422883c0e3fd10aa39bf);
        
    
        var marker_25095ad2d3764d42b656fb54c4290f85 = L.marker(
            [26.296752, -80.278854],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_e9729f805b9b4f7faa121af1b8bac0ff = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_25095ad2d3764d42b656fb54c4290f85.setIcon(icon_e9729f805b9b4f7faa121af1b8bac0ff);
            
    
            var popup_e74cba83c56f40bea8516c67c1ff3528 = L.popup({maxWidth: '300'
            
            });

            
                var html_5b9d681679f04ed29feddb6fad4418cd = $(`<div id="html_5b9d681679f04ed29feddb6fad4418cd" style="width: 100.0%; height: 100.0%;">Falafel Bistro & Wine Bar</div>`)[0];
                popup_e74cba83c56f40bea8516c67c1ff3528.setContent(html_5b9d681679f04ed29feddb6fad4418cd);
            

            marker_25095ad2d3764d42b656fb54c4290f85.bindPopup(popup_e74cba83c56f40bea8516c67c1ff3528)
            ;

            
        
    
        var marker_025b309d93d141c98bc8bf0cc60f11db = L.marker(
            [26.93397, -80.0808],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_287e142b9a7e4d36b87a6bb6d3b37be5 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_025b309d93d141c98bc8bf0cc60f11db.setIcon(icon_287e142b9a7e4d36b87a6bb6d3b37be5);
            
    
            var popup_9ec008a750e54f6da1bc424b3b675b8a = L.popup({maxWidth: '300'
            
            });

            
                var html_34067f20b63148b6a1a24b994842f687 = $(`<div id="html_34067f20b63148b6a1a24b994842f687" style="width: 100.0%; height: 100.0%;">Food Shack</div>`)[0];
                popup_9ec008a750e54f6da1bc424b3b675b8a.setContent(html_34067f20b63148b6a1a24b994842f687);
            

            marker_025b309d93d141c98bc8bf0cc60f11db.bindPopup(popup_9ec008a750e54f6da1bc424b3b675b8a)
            ;

            
        
    
        var marker_9ddef0023cfd4e77aecdbc106933d60d = L.marker(
            [25.644223, -80.334727],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_f2df70c540f7486c9688431cadd90b87 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9ddef0023cfd4e77aecdbc106933d60d.setIcon(icon_f2df70c540f7486c9688431cadd90b87);
            
    
            var popup_2c211cac6326479c97e84824b40fd157 = L.popup({maxWidth: '300'
            
            });

            
                var html_21336f346db34d3589b4077b136eabde = $(`<div id="html_21336f346db34d3589b4077b136eabde" style="width: 100.0%; height: 100.0%;">Samurai</div>`)[0];
                popup_2c211cac6326479c97e84824b40fd157.setContent(html_21336f346db34d3589b4077b136eabde);
            

            marker_9ddef0023cfd4e77aecdbc106933d60d.bindPopup(popup_2c211cac6326479c97e84824b40fd157)
            ;

            
        
    
        var marker_81dd3778b78b430ca1b23e98098f82a0 = L.marker(
            [26.941207, -80.078987],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_3960153569a84494bef083c959c20e7f = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_81dd3778b78b430ca1b23e98098f82a0.setIcon(icon_3960153569a84494bef083c959c20e7f);
            
    
            var popup_1ce73e24df5c41499cc800cfbf68aa89 = L.popup({maxWidth: '300'
            
            });

            
                var html_f62328002abc43cd880e73e23222d141 = $(`<div id="html_f62328002abc43cd880e73e23222d141" style="width: 100.0%; height: 100.0%;">Dune Dog Cafe</div>`)[0];
                popup_1ce73e24df5c41499cc800cfbf68aa89.setContent(html_f62328002abc43cd880e73e23222d141);
            

            marker_81dd3778b78b430ca1b23e98098f82a0.bindPopup(popup_1ce73e24df5c41499cc800cfbf68aa89)
            ;

            
        
    
        var marker_836b897d1aec4cf68ed3b7175750ef9e = L.marker(
            [25.5356385, -80.4511731],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_0dbdf7417cf24f82ac5f84fb770c8a6e = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_836b897d1aec4cf68ed3b7175750ef9e.setIcon(icon_0dbdf7417cf24f82ac5f84fb770c8a6e);
            
    
            var popup_b28133ccde014c1391983168b6d41ece = L.popup({maxWidth: '300'
            
            });

            
                var html_63a932f34fb14622a38ae579fb463c3e = $(`<div id="html_63a932f34fb14622a38ae579fb463c3e" style="width: 100.0%; height: 100.0%;">Knaus Berry Farm</div>`)[0];
                popup_b28133ccde014c1391983168b6d41ece.setContent(html_63a932f34fb14622a38ae579fb463c3e);
            

            marker_836b897d1aec4cf68ed3b7175750ef9e.bindPopup(popup_b28133ccde014c1391983168b6d41ece)
            ;

            
        
    
        var marker_887e6f5ba45c43debfbe64d99894a7ed = L.marker(
            [26.189794, -80.098196],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_eceea52cf4364f99ad52a3c84ffa05f0 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_887e6f5ba45c43debfbe64d99894a7ed.setIcon(icon_eceea52cf4364f99ad52a3c84ffa05f0);
            
    
            var popup_0ffb0cccb99943f78ccf39855a7d878e = L.popup({maxWidth: '300'
            
            });

            
                var html_c03d71a9e8a847499110dae3d877e754 = $(`<div id="html_c03d71a9e8a847499110dae3d877e754" style="width: 100.0%; height: 100.0%;">Basilic Vietnamese Grill</div>`)[0];
                popup_0ffb0cccb99943f78ccf39855a7d878e.setContent(html_c03d71a9e8a847499110dae3d877e754);
            

            marker_887e6f5ba45c43debfbe64d99894a7ed.bindPopup(popup_0ffb0cccb99943f78ccf39855a7d878e)
            ;

            
        
    
        var marker_de3cdd54127e437394a2ec98bc45ec70 = L.marker(
            [25.75331, -80.258604],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_84df41ebe65f4ffb909ff8eec651b319 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_de3cdd54127e437394a2ec98bc45ec70.setIcon(icon_84df41ebe65f4ffb909ff8eec651b319);
            
    
            var popup_25cda8597c2f4f3aa9517fd5b1ac09a4 = L.popup({maxWidth: '300'
            
            });

            
                var html_22e1e1e34cb7424e9a8ce9b4e0c15934 = $(`<div id="html_22e1e1e34cb7424e9a8ce9b4e0c15934" style="width: 100.0%; height: 100.0%;">POC American Fusion Buffet & Sushi</div>`)[0];
                popup_25cda8597c2f4f3aa9517fd5b1ac09a4.setContent(html_22e1e1e34cb7424e9a8ce9b4e0c15934);
            

            marker_de3cdd54127e437394a2ec98bc45ec70.bindPopup(popup_25cda8597c2f4f3aa9517fd5b1ac09a4)
            ;

            
        
    
        var marker_0af84e2d527045ba890ad3e29f898eca = L.marker(
            [26.941577, -80.096353],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_9483057ceba644c38f0e74a88e442b6c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0af84e2d527045ba890ad3e29f898eca.setIcon(icon_9483057ceba644c38f0e74a88e442b6c);
            
    
            var popup_de275b3740674024bd30939b92ed6bb1 = L.popup({maxWidth: '300'
            
            });

            
                var html_47610446668a4456b71448cb1273b3d9 = $(`<div id="html_47610446668a4456b71448cb1273b3d9" style="width: 100.0%; height: 100.0%;">Center Street Nook</div>`)[0];
                popup_de275b3740674024bd30939b92ed6bb1.setContent(html_47610446668a4456b71448cb1273b3d9);
            

            marker_0af84e2d527045ba890ad3e29f898eca.bindPopup(popup_de275b3740674024bd30939b92ed6bb1)
            ;

            
        
    
        var marker_6e671234eaf645e1b1b3fb104bf494a7 = L.marker(
            [26.5329615, -80.0908849],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_0441ec2bff09499499559fa2eae988f2 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6e671234eaf645e1b1b3fb104bf494a7.setIcon(icon_0441ec2bff09499499559fa2eae988f2);
            
    
            var popup_22c36517bb354873986403eca04945e7 = L.popup({maxWidth: '300'
            
            });

            
                var html_471726ea2d7a4bb798c2d3fafcfc2a07 = $(`<div id="html_471726ea2d7a4bb798c2d3fafcfc2a07" style="width: 100.0%; height: 100.0%;">Kimura Japanese Steak & Seafood</div>`)[0];
                popup_22c36517bb354873986403eca04945e7.setContent(html_471726ea2d7a4bb798c2d3fafcfc2a07);
            

            marker_6e671234eaf645e1b1b3fb104bf494a7.bindPopup(popup_22c36517bb354873986403eca04945e7)
            ;

            
        
    
        var marker_8000a1189dfe4f3ea36e2248d978a20e = L.marker(
            [25.92416, -80.15384],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_e886171069204074a0732d6664920a49);
        
    

                var icon_109065e585dd4183b49eccd035cb5598 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8000a1189dfe4f3ea36e2248d978a20e.setIcon(icon_109065e585dd4183b49eccd035cb5598);
            
    
            var popup_65153159e8b549c695e549b02d4ff302 = L.popup({maxWidth: '300'
            
            });

            
                var html_337446ea716a4e04b643283e982589f0 = $(`<div id="html_337446ea716a4e04b643283e982589f0" style="width: 100.0%; height: 100.0%;">Ginza Japanese Buffet</div>`)[0];
                popup_65153159e8b549c695e549b02d4ff302.setContent(html_337446ea716a4e04b643283e982589f0);
            

            marker_8000a1189dfe4f3ea36e2248d978a20e.bindPopup(popup_65153159e8b549c695e549b02d4ff302)
            ;

            
        
</script>