<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.3.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_27757aa466f742b5aa0249911e5b2e64 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_27757aa466f742b5aa0249911e5b2e64" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_27757aa466f742b5aa0249911e5b2e64 = L.map(
        'map_27757aa466f742b5aa0249911e5b2e64', {
        center: [25.774111, -80.193565],
        zoom: 8,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_88077222685c4b53beabf160cd349886 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_27757aa466f742b5aa0249911e5b2e64);
    
            var feature_group_2555b87d376a46b1a36448c2d84da7d3 = L.featureGroup(
                ).addTo(map_27757aa466f742b5aa0249911e5b2e64);
        
    
        var marker_b2c5ac16b20e457897807b741d06ab9f = L.marker(
            [26.296752, -80.278854],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_be1198d9438c412e88396c44ee03cb75 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b2c5ac16b20e457897807b741d06ab9f.setIcon(icon_be1198d9438c412e88396c44ee03cb75);
            
    
            var popup_0e9b721bc6654a04b64df787ac8324ac = L.popup({maxWidth: '300'
            
            });

            
                var html_8d20a262ef9045a6a6262885e9f2458b = $(`<div id="html_8d20a262ef9045a6a6262885e9f2458b" style="width: 100.0%; height: 100.0%;">Falafel Bistro & Wine Bar</div>`)[0];
                popup_0e9b721bc6654a04b64df787ac8324ac.setContent(html_8d20a262ef9045a6a6262885e9f2458b);
            

            marker_b2c5ac16b20e457897807b741d06ab9f.bindPopup(popup_0e9b721bc6654a04b64df787ac8324ac)
            ;

            
        
    
        var marker_2a7c0db7d8bb436d8123584e2aa53941 = L.marker(
            [26.93397, -80.0808],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_ecfcb8160243497eb86ac3a844128ec7 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2a7c0db7d8bb436d8123584e2aa53941.setIcon(icon_ecfcb8160243497eb86ac3a844128ec7);
            
    
            var popup_c6d83b5b019b431e86646af37e79bc09 = L.popup({maxWidth: '300'
            
            });

            
                var html_6e16535cbda84811b22a085edd81ee86 = $(`<div id="html_6e16535cbda84811b22a085edd81ee86" style="width: 100.0%; height: 100.0%;">Food Shack</div>`)[0];
                popup_c6d83b5b019b431e86646af37e79bc09.setContent(html_6e16535cbda84811b22a085edd81ee86);
            

            marker_2a7c0db7d8bb436d8123584e2aa53941.bindPopup(popup_c6d83b5b019b431e86646af37e79bc09)
            ;

            
        
    
        var marker_109741cc003644269c19d3c244599971 = L.marker(
            [25.644223, -80.334727],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_237bc59da3044bcdb055e90ebd04c868 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_109741cc003644269c19d3c244599971.setIcon(icon_237bc59da3044bcdb055e90ebd04c868);
            
    
            var popup_5ab078e6565740dab6ac324af2d478e2 = L.popup({maxWidth: '300'
            
            });

            
                var html_0a8eff36acfd4d97ae8c608c1c570b32 = $(`<div id="html_0a8eff36acfd4d97ae8c608c1c570b32" style="width: 100.0%; height: 100.0%;">Samurai</div>`)[0];
                popup_5ab078e6565740dab6ac324af2d478e2.setContent(html_0a8eff36acfd4d97ae8c608c1c570b32);
            

            marker_109741cc003644269c19d3c244599971.bindPopup(popup_5ab078e6565740dab6ac324af2d478e2)
            ;

            
        
    
        var marker_d675f245436648419515404744554dbc = L.marker(
            [26.941207, -80.078987],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_04573f0014844174972aefd4cfa7c8a6 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_d675f245436648419515404744554dbc.setIcon(icon_04573f0014844174972aefd4cfa7c8a6);
            
    
            var popup_c3a0b183703e4306aef36a7df96c8ca1 = L.popup({maxWidth: '300'
            
            });

            
                var html_e45f5a9fafc44cf88b52f34601ffd1c1 = $(`<div id="html_e45f5a9fafc44cf88b52f34601ffd1c1" style="width: 100.0%; height: 100.0%;">Dune Dog Cafe</div>`)[0];
                popup_c3a0b183703e4306aef36a7df96c8ca1.setContent(html_e45f5a9fafc44cf88b52f34601ffd1c1);
            

            marker_d675f245436648419515404744554dbc.bindPopup(popup_c3a0b183703e4306aef36a7df96c8ca1)
            ;

            
        
    
        var marker_2e724184dc694e95a3daca8110c96420 = L.marker(
            [25.5356385, -80.4511731],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_f99b7066788e465a945cfdaa84e3067b = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2e724184dc694e95a3daca8110c96420.setIcon(icon_f99b7066788e465a945cfdaa84e3067b);
            
    
            var popup_d59327f1c5214a58be9b4ad4e9575899 = L.popup({maxWidth: '300'
            
            });

            
                var html_20d5d304224547908d321cf323757a6d = $(`<div id="html_20d5d304224547908d321cf323757a6d" style="width: 100.0%; height: 100.0%;">Knaus Berry Farm</div>`)[0];
                popup_d59327f1c5214a58be9b4ad4e9575899.setContent(html_20d5d304224547908d321cf323757a6d);
            

            marker_2e724184dc694e95a3daca8110c96420.bindPopup(popup_d59327f1c5214a58be9b4ad4e9575899)
            ;

            
        
    
        var marker_ac3f1b3960ea4064b24470397c43f053 = L.marker(
            [26.189794, -80.098196],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_0192a89977d24e8aaa416096fe74629d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ac3f1b3960ea4064b24470397c43f053.setIcon(icon_0192a89977d24e8aaa416096fe74629d);
            
    
            var popup_7f3ad849941441c393a6f0d402bc401e = L.popup({maxWidth: '300'
            
            });

            
                var html_97d31033a0c9498b82e101a8a587629d = $(`<div id="html_97d31033a0c9498b82e101a8a587629d" style="width: 100.0%; height: 100.0%;">Basilic Vietnamese Grill</div>`)[0];
                popup_7f3ad849941441c393a6f0d402bc401e.setContent(html_97d31033a0c9498b82e101a8a587629d);
            

            marker_ac3f1b3960ea4064b24470397c43f053.bindPopup(popup_7f3ad849941441c393a6f0d402bc401e)
            ;

            
        
    
        var marker_2e340717508a48dfaa7c92f761e2a3b0 = L.marker(
            [25.75331, -80.258604],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_915abf266fb54cc38f58d1d2691624f4 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2e340717508a48dfaa7c92f761e2a3b0.setIcon(icon_915abf266fb54cc38f58d1d2691624f4);
            
    
            var popup_cca74c22d530409d9d5a79957780ba86 = L.popup({maxWidth: '300'
            
            });

            
                var html_01ab554c612d4081ba0096476ff1bf76 = $(`<div id="html_01ab554c612d4081ba0096476ff1bf76" style="width: 100.0%; height: 100.0%;">POC American Fusion Buffet & Sushi</div>`)[0];
                popup_cca74c22d530409d9d5a79957780ba86.setContent(html_01ab554c612d4081ba0096476ff1bf76);
            

            marker_2e340717508a48dfaa7c92f761e2a3b0.bindPopup(popup_cca74c22d530409d9d5a79957780ba86)
            ;

            
        
    
        var marker_f64d63d6136f4f3e9bb9d0ee10898c17 = L.marker(
            [26.941577, -80.096353],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_aa0349be197f4d598d16bdbd0be5e34d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f64d63d6136f4f3e9bb9d0ee10898c17.setIcon(icon_aa0349be197f4d598d16bdbd0be5e34d);
            
    
            var popup_9636d3f7384843039e3525a2fff47538 = L.popup({maxWidth: '300'
            
            });

            
                var html_63ec1b02b2bb477bbf6d8d9d0a950d02 = $(`<div id="html_63ec1b02b2bb477bbf6d8d9d0a950d02" style="width: 100.0%; height: 100.0%;">Center Street Nook</div>`)[0];
                popup_9636d3f7384843039e3525a2fff47538.setContent(html_63ec1b02b2bb477bbf6d8d9d0a950d02);
            

            marker_f64d63d6136f4f3e9bb9d0ee10898c17.bindPopup(popup_9636d3f7384843039e3525a2fff47538)
            ;

            
        
    
        var marker_3addafdd9c6b458f9bdee43d9e0fb90c = L.marker(
            [26.5329615, -80.0908849],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_866e56dbbdb34b4083bd0c86dad580be = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3addafdd9c6b458f9bdee43d9e0fb90c.setIcon(icon_866e56dbbdb34b4083bd0c86dad580be);
            
    
            var popup_25e4eff5a732483ca438c841b96001e7 = L.popup({maxWidth: '300'
            
            });

            
                var html_77104c4e74d04882a190e6bbef06df5a = $(`<div id="html_77104c4e74d04882a190e6bbef06df5a" style="width: 100.0%; height: 100.0%;">Kimura Japanese Steak & Seafood</div>`)[0];
                popup_25e4eff5a732483ca438c841b96001e7.setContent(html_77104c4e74d04882a190e6bbef06df5a);
            

            marker_3addafdd9c6b458f9bdee43d9e0fb90c.bindPopup(popup_25e4eff5a732483ca438c841b96001e7)
            ;

            
        
    
        var marker_61c887532e2b4e98ae33200a80bcea84 = L.marker(
            [25.92416, -80.15384],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_2555b87d376a46b1a36448c2d84da7d3);
        
    

                var icon_0e475d064ec94a16988ccfc5bd0b01dd = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'yellow',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_61c887532e2b4e98ae33200a80bcea84.setIcon(icon_0e475d064ec94a16988ccfc5bd0b01dd);
            
    
            var popup_57b7208da1154d809a101617f4563075 = L.popup({maxWidth: '300'
            
            });

            
                var html_8e06abf92cda4125945888459e4191d6 = $(`<div id="html_8e06abf92cda4125945888459e4191d6" style="width: 100.0%; height: 100.0%;">Ginza Japanese Buffet</div>`)[0];
                popup_57b7208da1154d809a101617f4563075.setContent(html_8e06abf92cda4125945888459e4191d6);
            

            marker_61c887532e2b4e98ae33200a80bcea84.bindPopup(popup_57b7208da1154d809a101617f4563075)
            ;

            
        
</script>